{% import 'macros.html' as macro%}
{% extends 'base.html'%}

    {%block content%}

        Popular movie section 
        <h3> Popular Movies</h3>
         <ul>
            {{ macro.displayMovieList(popular)}}
        </ul>

        Up-coming movies section

        <h3> Up coming Movies</h3>
         <ul>
            {{ macro.displayMovieList(upcoming)}}
        </ul>

        Now-playing movies section      
        <h3>Now-playing Movies</h3>
         <ul>
            {{ macro.displayMovieList(now_showing)}}
        </ul>
    <p>the info is{{message}}</p>
    {%endblock%}